{% extends 'base.html' %}

{% block content %}
  <h2>Список сотрудников</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Должность</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.middle_name }}</td>
          <td>{{ employee.position }}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{% url 'employee_edit' employee.pk %}">Редактировать</a>
            <a class="btn btn-danger btn-sm" href="{% url 'employee_delete' employee.pk %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}