{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
	<h1></h1>
	
	<div class="row">
	<div class="col-md-6">
				<img  width="80%" src="/static/images/contacts.jpg" class="center">
				</div>
	<div class="col-md-6">
				<a class="btn btn-danger btn-lg btn-block" href="http://1c.corp.tobmed.ru/DB_IT/hs/lk/">
					Подать или проверить заявку
				</a>
				<a class="btn btn-info btn-lg btn-block" href="https://teletype.in/@ob3it/Wqzyc3d5w">
					Инструкция по работе с личным кабинетом
				</a>
	</div>
	</div>
	<div class="row">
	<div class="col-md-12">
<br>
<p>Уважаемые коллеги!
<br>
Сообщаем вам о следующих способах подачи заявки в отдел информационных технологий (способы указаны в порядке снижения преоритета отслежживания и принятия в работу):
<br>
1. Через личный кабинет для подачи заявки 
<br>Инструкция по ссылке:  <a class="btn btn-info btn-sm" href="https://teletype.in/@ob3it/Wqzyc3d5w">Посмотреть</a>
<br>Режим приема заявки — круглосуточно; 
Выполнение — в рабочие дни, с 8-00 до 17-00.
<br>
2. Через Telegram бота
<br>Инструкция по ссылке:  <a class="btn btn-info btn-sm" href="https://teletype.in/@ob3it/JdIaNhYgctC">Посмотреть</a>
<br>Режим приема заявки — круглосуточно; 
Выполнение — в рабочие дни, с 8-00 до 17-00.
<br>
3. По электронной почте help@tobmed.ru
<br>Режим приема заявки — в рабочие дни, с 8-00 до 17-00; 
Выполнение — в рабочие дни, с 8-00 до 17-00.
<br>
4. По номеру телефону 27-30-31 
<br>Режим приема заявки — в рабочие дни, с 8-00 до 17-00; 
Выполнение — в рабочие дни, с 8-00 до 17-00.
<br>
Актуальные новости или задать вопрос возможно узнать через Telegram канал по ссылке: https://t.me/joinchat/TySnF9hSOtCUe_-c 
<br>Режим ответа в канале тех.поддержки — в рабочие дни, с 8-00 до 17-00;

</div>
	</div>
	
{% endblock %}