{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<!-- <h1 style="text-align:center"><span
        style="font-family:Arial,Helvetica,sans-serif"><strong>Медицинские
            калькуляторы</strong></span></h1>

<hr />
<p><a href="https://frax.shef.ac.uk/frax/tool.aspx?country=13"
        target="_blank">FRAX Инструмент для расчета 10-летней вероятности
        переломов</a></p>

<p><a href="https://www.endocrincentr.ru/specialistam/kalkulyatory-0"
        target="_blank">Калькуляторы по эндокринологии</a></p>

<div class="column doubling grid stackable three tight ui">
    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Kalkulyator-rascheta-zakupok-preparatov-dlya-lecheniya-pacientov-s-COVID-19.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/66/front-jpg/front-z-700.jpg?time=1693920196" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Kalkulyator-rascheta-zakupok-preparatov-dlya-lecheniya-pacientov-s-COVID-19.html">Калькулятор
                    расчета закупок препаратов для лечения (пациентов с)
                    COVID-19</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/timi.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/65/front-jpg/front-z-700.jpg?time=1686221127" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/timi.html">Шкала TIMI</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/al-ganzuri.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/64/front-jpg/front-z-700.jpg?time=1686221127" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/al-ganzuri.html">Шкала
                    Эль-Ганзури</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/heart.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/63/front-jpg/front-z-700.jpg?time=1686221128" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/heart.html">Шкала
                    HEART</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/lund-browder.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/62/front-jpg/front-z-700.jpg?time=1686221130" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/lund-browder.html">Определение
                    площади ожоговой поверхности по Lund-Browder</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/mallampati.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/61/front-jpg/front-z-700.jpg?time=1686221130" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/mallampati.html">Модифицированная шкала
                    Маллампати</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/central-obesity.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/60/front-jpg/front-z-700.jpg?time=1686221130" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/central-obesity.html">Индексы
                    центрального ожирения</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Dozator-Rivaroksaban.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/59/front-jpg/front-z-700.jpg?time=1642572024" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Dozator-Rivaroksaban.html">Дозатор
                    Ривароксабан</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Algofunkcionalnyi-indeks-Lekena.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/58/front-jpg/front-z-700.jpg?time=1587635110" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Algofunkcionalnyi-indeks-Lekena.html">Альгофункциональный
                    индекс Лекена</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Opredelenie-sroka-beremennosti-i-daty-rodov.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/57/front-jpg/front-z-700.jpg?time=1587635111" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Opredelenie-sroka-beremennosti-i-daty-rodov.html">Определение
                    срока беременности и даты родов</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-kolichestva-dnei-mejdu-dvumya-datami.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/56/front-jpg/front-z-700.jpg?time=1587635112" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-kolichestva-dnei-mejdu-dvumya-datami.html">Расчет
                    количества дней между двумя датами</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-vozbujdeniya-sedacii-Richmonda.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/55/front-jpg/front-z-700.jpg?time=1587635113" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Shkala-vozbujdeniya-sedacii-Richmonda.html">Шкала
                    возбуждения-седации Ричмонда</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Konverter-glukokortikosteroidov.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/54/front-jpg/front-z-700.jpg?time=1587633306" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Konverter-glukokortikosteroidov.html">Конвертер
                    глюкокортикостероидов</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Korrekciya-soderjaniya-glukozy-v-krovi.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/53/front-jpg/front-z-700.jpg?time=1587633308" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Korrekciya-soderjaniya-glukozy-v-krovi.html">Коррекция
                    содержания глюкозы в крови</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Natrii-korrigirovannyi-otnositelno-urovnya-giperglikemii.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/52/front-jpg/front-z-700.jpg?time=1587633310" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Natrii-korrigirovannyi-otnositelno-urovnya-giperglikemii.html">Натрий
                    корригированный относительно уровня гипергликемии</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-fiziologicheskoi-potrebnosti-v-jidkosti.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/51/front-jpg/front-z-700.jpg?time=1587635758" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-fiziologicheskoi-potrebnosti-v-jidkosti.html">Расчет
                    физиологической потребности в жидкости</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-CURB-65.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/50/front-jpg/front-z-700.jpg?time=1587635761" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-CURB-65.html">Шкала
                    CURB-65</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Alveolyarno-arterialnyi-gradient.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/49/front-jpg/front-z-700.jpg?time=1587635762" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Alveolyarno-arterialnyi-gradient.html">Альвеолярно-артериальный
                    градиент</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-kolichestva-gidrokarbonata-dlya-korrekcii-metabolicheskogo-acidoza.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/48/front-jpg/front-z-700.jpg?time=1587635767" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-kolichestva-gidrokarbonata-dlya-korrekcii-metabolicheskogo-acidoza.html">Расчет
                    количества гидрокарбоната для коррекции метаболического
                    ацидоза</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-Apgar.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/47/front-jpg/front-z-700.jpg?time=1587635770" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-Apgar.html">Шкала
                    Апгар</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-sutochnogo-obema-jidkosti-u-detei.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/46/front-jpg/front-z-700.jpg?time=1587653389" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-sutochnogo-obema-jidkosti-u-detei.html">Расчет
                    суточного объема жидкости у детей</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Ocenka-veroyatnosti-tromboembolii-legochnoi-arterii-po-shkale-Geneva.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/45/front-jpg/front-z-700.jpg?time=1587653390" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Ocenka-veroyatnosti-tromboembolii-legochnoi-arterii-po-shkale-Geneva.html">Оценка
                    вероятности тромбоэмболии легочной артерии по шкале
                    Geneva</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-Murray.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/44/front-jpg/front-z-700.jpg?time=1587664185" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-Murray.html">Шкала
                    Murray</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-deficita-natriya.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/43/front-jpg/front-z-700.jpg?time=1584091839" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-deficita-natriya.html">Расчет
                    дефицита натрия</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Klinicheskaya-shkala-ocenki-tyajesti-venoznyh-zabolevanii.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/42/front-jpg/front-z-700.jpg?time=1584091840" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Klinicheskaya-shkala-ocenki-tyajesti-venoznyh-zabolevanii.html">Клиническая
                    шкала оценки тяжести венозных заболеваний</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-Caprini.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/41/front-jpg/front-z-700.jpg?time=1584091841" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-Caprini.html">Шкала
                    Caprini</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-azotistogo-balansa-i-energeticheskoi-potrebnosti-u-pacientov-s-ojogami.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/40/front-jpg/front-z-700.jpg?time=1584091841" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-azotistogo-balansa-i-energeticheskoi-potrebnosti-u-pacientov-s-ojogami.html">Расчет
                    азотистого баланса и энергетической потребности у пациентов
                    с ожогами</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-ploshadi-poverhnosti-tela.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/39/front-jpg/front-z-700.jpg?time=1584091850" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-ploshadi-poverhnosti-tela.html">Расчет
                    площади поверхности тела</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Ocenka-veroyatnosti-ostrogo-appendicita-po-shkale-Alvarado.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/38/front-jpg/front-z-700.jpg?time=1584091854" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Ocenka-veroyatnosti-ostrogo-appendicita-po-shkale-Alvarado.html">Оценка
                    вероятности острого аппендицита по шкале Alvarado</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-Chaild-Pu.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/37/front-jpg/front-z-700.jpg?time=1584091856" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-Chaild-Pu.html">Шкала
                    Чайлд-Пью</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-MELD-2016.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/36/front-jpg/front-z-700.jpg?time=1584091861" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-MELD-2016.html">Шкала
                    MELD (2016)</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-idealnoi-massy-tela-po-metodu-Devine.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/35/front-jpg/front-z-700.jpg?time=1584091864" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-idealnoi-massy-tela-po-metodu-Devine.html">Расчет
                    идеальной массы тела по методу Devine</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-deficita-kaliya.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/34/front-jpg/front-z-700.jpg?time=1584091865" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-deficita-kaliya.html">Расчет
                    дефицита калия</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-bazalnoi-potrebnosti-v-energii-po-formule-Mifflina-San-Jeora.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/33/front-jpg/front-z-700.jpg?time=1584091871" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-bazalnoi-potrebnosti-v-energii-po-formule-Mifflina-San-Jeora.html">Расчет
                    базальной потребности в энергии по формуле Миффлина-Сан
                    Жеора</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-bazalnoi-potrebnosti-v-energii-po-formule-Harrisa-Benedikta.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/32/front-jpg/front-z-700.jpg?time=1584091873" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-bazalnoi-potrebnosti-v-energii-po-formule-Harrisa-Benedikta.html">Расчет
                    базальной потребности в энергии по формуле
                    Харриса&ndash;Бенедикта</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Modificirovannaya-shkala-Fishera.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/31/front-jpg/front-z-700.jpg?time=1584091875" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Modificirovannaya-shkala-Fishera.html">Модифицированная
                    шкала Фишера</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-Hanta-Hessa.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/30/front-jpg/front-z-700.jpg?time=1584091877" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-Hanta-Hessa.html">Шкала
                    Ханта-Хесса</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-NIHSS.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/29/front-jpg/front-z-700.jpg?time=1584091878" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-NIHSS.html">Шкала
                    NIHSS</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-dozirovki-eufillina-u-detei-do-16-let.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/28/front-jpg/front-z-700.jpg?time=1584091880" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-dozirovki-eufillina-u-detei-do-16-let.html">Расчет
                    дозировки эуфиллина у детей до 16 лет</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-HAS-BLED.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/27/front-jpg/front-z-700.jpg?time=1584091882" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-HAS-BLED.html">Шкала
                    HAS-BLED</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Issledovanie-sistemy-gemostaza.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/26/front-jpg/front-z-700.jpg?time=1584091894" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Issledovanie-sistemy-gemostaza.html">Исследование
                    системы гемостаза</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Interpretaciya-KShS-i-gazovogo-sostava-krovi.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/25/front-jpg/front-z-700.jpg?time=1584112212" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Interpretaciya-KShS-i-gazovogo-sostava-krovi.html">Интерпретация
                    КЩС и газового состава крови</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-soderjaniya-veshestva-v-rastvore.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/24/front-jpg/front-z-700.jpg?time=1584112214" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-soderjaniya-veshestva-v-rastvore.html">Расчет
                    содержания вещества в растворе</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-skorosti-infuzii-preparata-cherez-lineomat-skorost-titrovaniya.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/23/front-jpg/front-z-700.jpg?time=1584098863" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-skorosti-infuzii-preparata-cherez-lineomat-skorost-titrovaniya.html">Расчет
                    скорости инфузии препарата через линеомат (скорость
                    титрования)</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Frakcionnaya-ekskreciya-natriya.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/22/front-jpg/front-z-700.jpg?time=1584112314" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Frakcionnaya-ekskreciya-natriya.html">Фракционная
                    экскреция натрия</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Sutochnaya-potrebnost-v-belke-po-urovnu-ekskrecii-mocheviny-s-mochoi.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded ls-is-cached spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/21/front-jpg/front-z-700.jpg?time=1584112316" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Sutochnaya-potrebnost-v-belke-po-urovnu-ekskrecii-mocheviny-s-mochoi.html">Суточная
                    потребность в белке по уровню экскреции мочевины с
                    мочой</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Opredelenie-adekvatnosti-gemodializa.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/20/front-jpg/front-z-700.jpg?time=1584112317" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Opredelenie-adekvatnosti-gemodializa.html">Определение
                    адекватности гемодиализа</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Skorost-klubochkovoi-filtracii-po-formulam-MDRD-i-Schwartz.html"><img
                    class="image lazyautosizes lazyload-responsive lazyloaded spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/19/front-jpg/front-z-700.jpg?time=1584112319" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Skorost-klubochkovoi-filtracii-po-formulam-MDRD-i-Schwartz.html">Скорость
                    клубочковой фильтрации по формулам MDRD и Schwartz</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Ocenka-stepeni-eksikoza.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/18/front-jpg/front-z-700.jpg?time=1584112320" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Ocenka-stepeni-eksikoza.html">Оценка
                    степени эксикоза</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-indeksa-massy-tela.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/17/front-jpg/front-z-700.jpg?time=1584098863" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-indeksa-massy-tela.html">Расчет
                    индекса массы тела</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Ocenka-klirensa-kreatinina-po-Cockcroft-Gault.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/16/front-jpg/front-z-700.jpg?time=1584112323" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Ocenka-klirensa-kreatinina-po-Cockcroft-Gault.html">Оценка
                    клиренса креатинина по Cockcroft-Gault</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-obema-infuzii-pri-ojogah-po-Parklandu.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/14/front-jpg/front-z-700.jpg?time=1584112323" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-obema-infuzii-pri-ojogah-po-Parklandu.html">Расчет
                    объема инфузии при ожогах по Паркланду</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-skorosti-vnutrivennogo-kapelnogo-vvedeniya-preparata.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/13/front-jpg/front-z-700.jpg?time=1584098861" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-skorosti-vnutrivennogo-kapelnogo-vvedeniya-preparata.html">Расчет
                    скорости внутривенного капельного введения
                    препарата</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Raschet-gidrobalansa.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/12/front-jpg/front-z-700.jpg?time=1584098862" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Raschet-gidrobalansa.html">Расчет
                    гидробаланса</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Shkala-APACHE-II.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/11/front-jpg/front-z-700.jpg?time=1584098862" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/Shkala-APACHE-II.html">Шкала
                    APACHE II</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/anesthesiology.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/10/front-jpg/front-z-700.jpg?time=1584112326" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/anesthesiology.html">Анестезиология (47
                    параметров)</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/mayo.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/9/front-jpg/front-z-700.jpg?time=1584098862" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/mayo.html">Шкала комы
                    Мэйо</a></h3>

            <div class="compact">Шкала разработана в 2005 году в клинике
                Mayo</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/glazgo.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/8/front-jpg/front-z-700.jpg?time=1584094136" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/glazgo.html">Шкала комы
                    Глазго</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/sofa.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/7/front-jpg/front-z-700.jpg?time=1584112436" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/sofa.html">Шкала SOFA</a></h3>

            <div class="compact">&nbsp;</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/score.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/6/front-jpg/front-z-700.jpg?time=1584112467" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/score.html">Шкала
                    SCORE</a></h3>

            <div class="compact">Шкалу целесообразно применять с пациентами, чей
                возраст старше 40 лет</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/lvm.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/5/front-jpg/front-z-700.jpg?time=1584112468" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/lvm.html">Расчет массы миокарда
                    левого желудочка по данным ЭхоКГ в M-режиме</a></h3>

            <div class="compact">Эта величина может указывать на многие
                патологические процессы. Чем она больше, тем неблагоприятнее
                прогноз и выше риск серьезных заболеваний</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/Srednee-arterialnoe-davlenie.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/4/front-jpg/front-z-700.jpg?time=1584112470" /></a>

            <h3><a class="ui"
                    href="https://medvestnik.ru/calculators/Srednee-arterialnoe-davlenie.html">Среднее
                    артериальное давление</a></h3>

            <div class="compact">Среднем артериальным давлением принято
                обозначать давление во время всех фаз сердечного цикла</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/grace.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/3/front-jpg/front-z-700.jpg?time=1584112475" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/grace.html">Шкала
                    GRACE</a></h3>

            <div class="compact">Шкала помогает оценить риск острого коронарного
                синдрома на госпитальном этапе и в течение последующих шести
                месяцев</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/cha2ds2-vasc.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/2/front-jpg/front-z-700.jpg?time=1584112477" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/cha2ds2-vasc.html">Шкала
                    CHA2DS2 - VASс</a></h3>

            <div class="compact">Простой клинический метод, с помощью которого
                можно быстро рассчитать риск инсульта и системной тромбоэмболии
                для пациентов с трепетанием и фибрилляцией предсердий</div>
        </div>
    </div>

    <div class="column">
        <div class="announce-block item-wrapper"><a class="ui"
                href="https://medvestnik.ru/calculators/qt.html"><img
                    class="image lazyload lazyload-responsive spaced-bottom-half ui"
                    src="https://medvestnik.ru/apps/mv/assets/cache/files/calculators/0/1/front-jpg/front-z-700.jpg?time=1584112478" /></a>

            <h3><a class="ui" href="https://medvestnik.ru/calculators/qt.html">Расчет
                    корригированного интервала QT</a></h3>

            <div class="compact">Данная формула помогает определить нормальным
                или патологичным является у пациента интервал QT</div>
        </div>
    </div>
</div> -->
{% endblock %}