{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}

<h1>{{ title }}</h1>
<hr>
<br>
<h5>Система менеджмента качества (СМК) в Областной больнице №3 г. Тобольска — это инструмент обеспечения качества и безопасности оказания медицинской помощи пациентам. Безопасность обеспечивается как для пациента, так и для сотрудников. 
    Стандартизированная система работы всех сотрудников в медицинской организации включает в себя:</h5>
    <ol>
        <li>Стандарты (Приказы, порядки, СОПы, алгоритмы, СОКи);</li>
        <li>Стандартизированную (одинаковую) работу всех сотрудников;</li>
        <li>Обеспечение снижения количества ошибок;</li>
        <li>Проведение регулярных аудитов;</li>
        <li>Качественную и безопасную медицинскую помощь;</li>
        <li>Обеспечение учета мнения сотрудников по совершенствованию системы;</li>
        <li>Индивидуальный подход ко всем процессам в медицинской организации (применимо только для Областной больницы №3);</li>
        <li>Пациентоцентрированную медицинскую помощь.</li>
    </ol>
<br>
<hr>
    <div class="row">
        <div class="col-12 col-md">
            <ul class="list-unstyled text-small">
                {% for x in cmk %}
                    <li><h3><a class="text-muted" height="10" href="{{x}}">{{cmk[x]}}<h3></li>
                    <br>
                {% endfor %}
            </ul>
        </div>
        
           
        </div>
    
{% endblock %}