{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}

<h1>{{ title }}</h1>


<hr>
    <div class="row">
        <div class="col-12 col-md">
            <ul class="list-unstyled text-small">
                {% for x in forms %}
                    <li><h3><a class="text-muted" height="10" href="{{x}}">{{forms[x]}}<h3></li>
                    <br>
                    <hr>
                {% endfor %}
            </ul>
        </div>


        </div>

{% endblock %}
