{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<style>
    #line_block {
            width:110px;
            height:50px;
            background:#f1f1f1;
            float:left;
            margin: 0 15px 15px 0;
            text-align:center;
            padding: 10px;
            }
    .banner{
        border-radius: 10px;
        border: 5px #ccc solid;
        box-shadow: 0 0 10px #444;
        font-size: small;
            }

    .h_2{
        height: 180px;
        }

     .image-button {
        /* background-image: url('path/to/image.jpg'); */
        background-size: cover;    
        padding:.5rem 1rem;
        font-size:1.25rem;
        line-height:1.5;
        border-radius:.3rem
}
               
     .image-button:hover{
        text-decoration: none !important; 
        background-color: #006089 !important;
        color: #ffeded !important;
        border-color: #006089 !important;
             }

    
</style>

<div class="container">
    <div class="container h_2">
        <div class="" src="static/images/baner.png"></div>
        <button>Голосуйте сейчас!</button>
            
        </div>
        </div>
        <div class="row">
            <div class="col"></div></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://nextcloud.corp.tobmed.ru/s/PfeoggTnAxj54WD">
                    <img class="banner" src="static/images/am.png">
                </a>
                <a class
                    href="https://nextcloud.corp.tobmed.ru/f/9070587">>></a>
            </div>
            <div class="col">
                <a href="https://nextcloud.corp.tobmed.ru/s/TcDBo5AjSxBAnjX">
                    <img class="banner" src="static/images/tmk.png">
                </a>
            </div>
            <div class="col">
                <div class="col">
                    <a
                        href="https://mind.72to.ru/#join:tc9d80515-2f54-4b6b-ae24-74e9d788d540">
                        <img class="banner" src="static/images/vks.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class>
        <div class>
            <h1>Новости одной строкой</h1>
            <br>
            <p class="lead">
                <a class
                    href="https://nextcloud.corp.tobmed.ru/s/saoyJgx3sRcxaMR">
                    Форма актуализации контактной информации (телефонов) по
                    отделениям
                </a>

            </p>
            <!-- </div>
                    <div class="row">
                        <div class="col">
                            <p class="lead">
                                Организация наполнения информацией сайта учреждения (tobmed.ru)
                            <p>
                            <div id="">
                            <a class="" href="https://nextcloud.corp.tobmed.ru/s/t8wa2wSNFgawZL6">
                            Список ответственных
                            </a>
                            </div>
                             <div id="">
                            <a class="" href="https://nextcloud.corp.tobmed.ru/s/WjnKSrLg8ESkjk3">
                            Ссылка для загрузки информации
                            </a>
                            </div>
                        </div>
                    </div>
        </div> -->
            <hr>
            <div>
                <p class="lead">
                    <a class href="https://nextcloud.corp.tobmed.ru/f/9378927">
                        Форма сбора о вакцинации сотрудников учреждения
                    </a>
                </p>
                <!-- <p class="lead">
                    <a class="" href="https://nextcloud.corp.tobmed.ru/s/7yPGGF8ESxf4B3L">
                        Форма сбора информации о расходных материалах к медоборудованию
                    </a>
                </p> -->
                <p class="lead">
                    <a class
                        href="https://nextcloud.corp.tobmed.ru/s/J8cMnfPDLpwppoY">
                        (1С Медицина) Описание новых релизов (обновлений,
                        исправлений, доработок) - Релиз 34
                    </a>
                </p>
                <!-- <p class="lead">
                    <a class="" href="https://nextcloud.corp.tobmed.ru/s/jwP9qL9qJCJK8x9">
                        Форма для сбора информаци по проблемам/доработкам 1С Медицина и др. информационных систем
                    </a>
                </p> -->

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md">
                <h5>Рабочие системы</h5>
                <ul class="list-unstyled text-small">
                    {% for x in links_work_system %}
                    <li><a class="text-muted" height="10"
                            href="{{x}}">{{links_work_system[x]}}</li>
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Комнаты ВКС ОБ3</h5>
                    <div>
                        <ul class="list-unstyled text-small">
                            {% for x in vks_rooms %}
                            <li><a class="text-muted"
                                    href="{{x}}">{{vks_rooms[x]}}</li>
                                <hr>
                                {% endfor %}
                            </ul>
                        </div>
                        <h5>ВКС Кураторов ответственных специалистов
                            акушеров-гинекологов по зонам обслуживания</h5>
                        <div>
                            <ul class="list-unstyled text-small">
                                {% for x in vks_rooms_ag %}
                                <li><a class="text-muted"
                                        href="{{x}}">{{vks_rooms_ag[x]}}</li>
                                    <hr>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-md">
                            <h5>Телемедицина</h5>
                            <div>
                                <ul class="list-unstyled text-small">
                                    {% for x in tmk_rooms %}
                                    <li><a class="text-muted"
                                            href="{{x}}">{{tmk_rooms[x]}}</a></li>
                                    <hr>
                                    {% endfor %}
                                </ul>
                            </div>
                            <br>
                            <h5>Учеба и Вебинары</h5>
                            <div>
                                <ul class="list-unstyled text-small">
                                    {% for x in teaching %}
                                    <li><a class="text-muted"
                                            href="{{x}}">{{teaching[x]}}</a></li>
                                    <hr>
                                    {% endfor %}
                                </ul>
                            </div>

                            <ul class="list-unstyled text-small">

                            </ul>
                        </div>
                        <div class="col-6 col-md">
                            {# <h5>Кнопки</h5>#}
                            <ul class="list-unstyled text-small">
                                 <a
                                    href="https://forms.yandex.ru/u/6629ebcff47e7389d9d9e70e/"
                                    class="btn btn-danger btn-block image-button"
                                    target="_blank">
                                    Интеллектуальная игра<br>"День Победы"
                                                                      
                                 </a>
                                 <div class="container">
                                    <img class="block_1" src="static/images/qr-code (39).png">
                                </div>                               


                                <a class="btn btn-danger btn-lg btn-block"
                                    href="/about">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        !Заявка в ИТ отдел
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="http://ts2.corp.tobmed.ru/Myrtille/">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        Виртуальный<br>рабочий стол
                                        {# <img src="{{ url_for(" static",
                                            filename="images/burokrat.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a><a class="btn btn-primary btn-lg btn-block"
                                    href="https://sedmed.admtyumen.ru/app/">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        Бюрократ
                                        {# <img src="{{ url_for(" static",
                                            filename="images/burokrat.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="https://ex.med-to.ru/owa/">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        Почта
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="https://nextcloud.corp.tobmed.ru/s/RXQSMSepGigdw73">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        ASSENTIUM
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a><a class="btn btn-success btn-lg btn-block"
                                    href="https://diadoc.kontur.ru/">
                                    {#
                                    <button type="button"
                                        class="btn btn-success btn-lg btn-block">#}
                                        Контур ДИАДОК
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="https://login.consultant.ru/">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        КОНСУЛЬТАНТ+
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a> <a class="btn btn-primary btn-lg btn-block"
                                    href="https://nextcloud.corp.tobmed.ru/s/xbQY4bcwD52swED">
                                    {#
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">#}
                                        Портал ТП ТО
                                        {# <img src="{{ url_for(" static",
                                            filename="images/med-to.png" ) }}"
                                            alt="ops image">#}
                                        {#
                                    </button>
                                    #}
                                </a>
                                <a class="btn btn-danger btn-lg btn-block"
                                    href="https://minzdrav.gov.ru/ministry/med_covid19/">
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">
                                        COVID-19
                                    </button>
                                </a>
                                <a class="btn btn-danger btn-lg btn-block"
                                    href="https://cr.minzdrav.gov.ru/">
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">
                                        Рубрикатор КР
                                    </button>
                                </a><a class="btn btn-danger btn-lg btn-block"
                                    href="https://medvestnik.ru/calculators">
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">
                                        Медицинские калькуляторы
                                    </button>
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="https://nextcloud.corp.tobmed.ru/s/ZtmcYsLStmZ5Dzt">
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">
                                        Образцы документов
                                    </button>
                                </a>
                                <a class="btn btn-primary btn-lg btn-block"
                                    href="https://www.gosuslugi.ru/category/health">
                                    <button type="button"
                                        class="btn btn-primary btn-lg btn-block">
                                        ГОСУСЛУГИ <br>
                                        (Моё здоровье)
                                    </button>
                                </a>

                                <br>
                                <br>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md">
                        </div>
                    </div>
                    {% endblock %}
