{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<div >
  <h2 style="display: flex">Зоны проведения субботника подразделениями ОБ3</h2>
  <hr>

  <div class="container">
    <script type="text/javascript" charset="utf-8" async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8387b21e4f32eed3b2d969f68a8232993e080ee7fb5b2460f48661490e67f553&amp;width=1035&amp;height=627&amp;lang=ru_RU&amp;scroll=true"></script>

  </div>
  <hr>
  <div class="container" >
    <div class="row">
      <div class="col">
        <a
          href="https://yandex.ru/maps/?um=constructor%3A8387b21e4f32eed3b2d969f68a8232993e080ee7fb5b2460f48661490e67f553&source=constructorLink">
          <img class src="static/images/clck.png">
        </a>
      </div>
      <div class="col">
        <a class="btn btn-primary btn-lg btn-block"
          href="https://yandex.ru/maps/?um=constructor%3A8387b21e4f32eed3b2d969f68a8232993e080ee7fb5b2460f48661490e67f553&source=constructorLink">
          <button type="button" class="btn btn-primary btn-lg btn-block">
            Открыть на Яндек.Картах
          </button>
        </a>
        <hr>
        <h2><-Переход на карту по QR-коду</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}