{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Перевод строки для листа MikroTik</h1>
        <form method="post">
            <input type="text" name="text" placeholder="Введите строку комментария" class="form-control"><br>
<!--            <textarea name="intro" id="intro" placeholder="Введите анонс" class="form-control"></textarea><br>-->
<!--            <textarea name="text" id="text" placeholder="Введите основной текст" class="form-control"></textarea><br>-->
            <input type="submit" class="btn btn-success" value="Перевести"><br>
        </form>
        <br>
        <div >{% for msg in get_flashed_messages() %}
            <textarea placeholder="Результат перевода" class="form-control">{{msg}}</textarea>
        {% endfor %}
        </div>

    </div>


{% endblock %}