{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
<style>
.results tr[visible='false'],
.no-result {
display: none;
}
.results tr[visible='true'] {
display: table-row;
}
.searchCount {
padding: 8px;
color: #ccc;
}
</style>
{% block body %}
<H2 style = `"color:#00248C`">ТЕЛЕФОННЫЙ СТРАВОЧНИК</H2>
<div>
<input type="text" class="searchKey" placeholder="Кого ищем?">
</div>
<span class="searchCount"></span>
<table border="1" class="results">
<thead>
<tr>
<th style="width: 500px; text-align: center">ФИО</th>
<th style="width: 400px; text-align: center">Должность</th>
<th style="width: 180px; text-align: center">Внутренний телефон</th>
<th style="width: 180px; text-align: center">Городской телефон</th>
<th style="width: 220px; text-align: center">Адрес электронной почты</th>
</tr>
<tr class="no-result">
<td>Совпадения не найдены</td>
</tr>
</thead>
<tbody>
<tr><th colspan="2" style="text-align: center">АДМИНИСТРАТИВНОЕ УПРАВЛЕНИЕ (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Плесовских Евгения Сергеевна</td><td>Заведующий отделом</td><td style="text-align: center">1107</td><td></td><td>PlesovskihES@med-to.ru</td></tr>
<tr><td>Синицын Антон Юрьевич</td><td>Заведующий отделом</td><td style="text-align: center">1120</td><td></td><td>SinicynAYu@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Акушерское отделение патологии беременности (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская акушерского отделения патологии беременности</td><td>Служебный</td><td style="text-align: center">1540</td><td></td><td></td></tr>
<tr><td>Пост акушерского отделения патологии беременности</td><td>Служебный</td><td style="text-align: center">1544</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Амбулаторное отделение медицинской реабилитации (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>302 кабинет</td><td>Служебный</td><td style="text-align: center">7302</td><td></td><td></td></tr>
<tr><td>303 кабинет</td><td>Служебный</td><td style="text-align: center">7303</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Аптека готовых лекарственных форм (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Зубарева Лариса Ивановна</td><td>Заведующий отделом</td><td style="text-align: center">1119</td><td></td><td>ZubarevaLI@med-to.ru</td></tr>
<tr><td>Некозырева Валентина Николаевна</td><td>Провизор</td><td style="text-align: center">1130</td><td></td><td>NekozyrevaVN@med-to.ru</td></tr>
<tr><td>Собольникова Вера Михайловна</td><td>Провизор</td><td style="text-align: center">2041</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Временный инфекционный дневной стационар (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>113 кабинет</td><td>Служебный</td><td style="text-align: center">7113</td><td></td><td></td></tr>
<tr><td>115 кабинет</td><td>Служебный</td><td style="text-align: center">2115</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Гинекологическое отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская гинекологического отделения</td><td>Служебный</td><td style="text-align: center">1250</td><td></td><td></td></tr>
<tr><td>Пост гинекологического отделения</td><td>Служебный</td><td style="text-align: center">1251</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Кардиологическое отделение (TEL)</th> <th></th></th><th style="text-align: center">245067</th><th></th></tr>
<tr><td>Ординаторская кардиологического отделения</td><td>Служебный</td><td style="text-align: center">1212</td><td></td><td></td></tr>
<tr><td>ПИТ кардиологического отделения</td><td>Служебный</td><td style="text-align: center">1217</td><td></td><td></td></tr>
<tr><td>Пост кардиологического отделения</td><td>Служебный</td><td style="text-align: center">1215</td><td></td><td></td></tr>
<tr><td>Рябинина Ирина Владимировна</td><td>Заведующий отделением</td><td style="text-align: center">1219</td><td></td><td>RyabininaIV@med-to.ru</td></tr>
<tr><td>Уткина Нелли Валерьевна</td><td>Старшая медицинская сестра</td><td style="text-align: center">1218</td><td></td><td>UtkinaNV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Клинико-диагностическая лаборатория (TEL)</th> <th></th></th><th style="text-align: center">245006</th><th></th></tr>
<tr><td>Йылмаз Елена Владимировна</td><td>Биолог</td><td style="text-align: center">1175</td><td></td><td>JylmazEV@med-to.ru</td></tr>
<tr><td>Куликова Алена Олеговна</td><td>Медицинский лабораторный техник</td><td style="text-align: center">1176</td><td></td><td>KulikovaAO@med-to.ru</td></tr>
<tr><td>Регистратура клинико-диагностической лаборатории</td><td>Служебный</td><td style="text-align: center">1179</td><td></td><td></td></tr>
<tr><td>Сабиров Тимур Мирхатович</td><td>Заведующий отделением</td><td style="text-align: center">1177</td><td></td><td>SabirovTM@med-to.ru</td></tr>
<tr><td>Экспресс-служба клинико-диагностической лаборатории</td><td>Служебный</td><td style="text-align: center">1178</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Консультативно-диагностическое детской поликлиники (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>106 кабинет</td><td>Служебный</td><td style="text-align: center">7106</td><td></td><td></td></tr>
<tr><td>107 кабинет</td><td>Служебный</td><td style="text-align: center">7107</td><td></td><td></td></tr>
<tr><td>321 кабинет</td><td>Служебный</td><td style="text-align: center">7321</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Консультативно-диагностическое отделение ПЦ (TEL)</th> <th></th></th><th style="text-align: center">246367</th><th></th></tr>
<tr><td>Регистратура консультативно-диагностического отделения ПЦ</td><td>Служебный</td><td style="text-align: center">1550</td><td></td><td></td></tr>
<tr><td>Регистратура консультативно-диагностического отделения ПЦ 2</td><td>Служебный</td><td style="text-align: center">1552</td><td></td><td></td></tr>
<tr><td>Регистратура консультативно-диагностического отделения ПЦ 3</td><td>Служебный</td><td style="text-align: center">1553</td><td></td><td></td></tr>
<tr><td>Счасная Наталия Александровна</td><td>Заведующий отделением</td><td style="text-align: center">1551</td><td></td><td>SchasnayaNA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Контрактный сектор</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Алимова Ромина Нурисламовна</td><td>Специалист по закупкам</td><td style="text-align: center">1128</td><td></td><td></td></tr>
<tr><td>Дунаева Наталья Петровна</td><td>Заведующий отделом</td><td style="text-align: center">1114</td><td></td><td>DunaevaNP@med-to.ru</td></tr>
<tr><td>Желтовская Алёна Сергеевна</td><td>Специалист по закупкам</td><td style="text-align: center">1151</td><td></td><td>ZheltovskayaAS@med-to.ru</td></tr>
<tr><td>Захарченко Татьяна Александровна</td><td>Старший специалист по закупкам</td><td style="text-align: center">1152</td><td></td><td>ZakharchenkoTA@med-to.ru</td></tr>
<tr><td>Изосимова Анфиса Геннадьевна</td><td>Специалист по закупкам</td><td style="text-align: center">1127</td><td></td><td>IzosimovaAG@med-to.ru</td></tr>
<tr><td>Изосимова Ольга Леонидовна</td><td>Старший специалист по закупкам</td><td style="text-align: center">1125</td><td></td><td>IzosimovaOL@med-to.ru</td></tr>
<tr><td>Кульмаметьева Гузель Магмуровна</td><td>Специалист по закупкам</td><td style="text-align: center">1152</td><td></td><td>KulmametevaGM@med-to.ru</td></tr>
<tr><td>Мусина Нелли Мисбаховна</td><td>Специалист по закупкам</td><td style="text-align: center">1128</td><td></td><td>MusinaNM@med-to.ru</td></tr>
<tr><td>Петрова Ольга Владимировна</td><td>Специалист по закупкам</td><td style="text-align: center">1151</td><td></td><td>PetrovaOV@med-to.ru</td></tr>
<tr><td>Саитова Наталья Дамировна</td><td>Специалист по закупкам</td><td style="text-align: center">1129</td><td></td><td>SaitovaND@med-to.ru</td></tr>
<tr><td>Шабанова Наталья Владимировна</td><td>Специалист по закупкам</td><td style="text-align: center">1129</td><td></td><td>ShabanovaNV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Малозоркальцевская врачебная амбулатория (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>1 кабинет</td><td>Служебный</td><td style="text-align: center">2781</td><td></td><td></td></tr>
<tr><td>4 кабинет</td><td>Служебный</td><td style="text-align: center">2782</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Неврологическое отделение (TEL)</th> <th></th></th><th style="text-align: center">240843</th><th></th></tr>
<tr><td>Ординаторская неврологического отделения</td><td>Служебный</td><td style="text-align: center">1213</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Общебольничный медицинский персонал (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Алымов Олег Юрьевич</td><td>Заместитель главного врача</td><td style="text-align: center">1109</td><td></td><td>AlymovOY@med-to.ru</td></tr>
<tr><td>Бабенко Оксана Анатольевна</td><td>Врач</td><td style="text-align: center">1126</td><td></td><td>BabenkoOA@med-to.ru</td></tr>
<tr><td>Бойко Дмитрий Александрович</td><td>Главный врач</td><td style="text-align: center">1110</td><td></td><td>BojkoDA@med-to.ru</td></tr>
<tr><td>Зенкова Юлия Михайловна</td><td>Заместитель главного врача</td><td style="text-align: center">2050</td><td></td><td>ZenkovaJM@med-to.ru</td></tr>
<tr><td>Тимканова Наталья Анатольевна</td><td>Главная медицинская сестра</td><td style="text-align: center">1102</td><td></td><td>TimkanovaNA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Общебольничный немедицинский персонал (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Пост охраны</td><td>Служебный</td><td style="text-align: center">1160</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отдел бухгалтерского учета и отчетности (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Аширова Дина Мунировна</td><td>Бухгалтер</td><td style="text-align: center">1159</td><td></td><td>AshirovaDM@med-to.ru</td></tr>
<tr><td>Бонифатьева Надежда Владиславовна</td><td>Бухгалтер</td><td style="text-align: center">1153</td><td></td><td>BonifatevaNV@med-to.ru</td></tr>
<tr><td>Воронина Наталья Геннадьевна</td><td>Бухгалтер</td><td style="text-align: center">1156</td><td></td><td>VoroninaNG@med-to.ru</td></tr>
<tr><td>Ефремова Марина Александровна</td><td>Бухгалтер</td><td style="text-align: center">1154</td><td></td><td>EfremovaMA@med-to.ru</td></tr>
<tr><td>Маврина Елена Владимировна</td><td>Бухгалтер</td><td style="text-align: center">1155</td><td></td><td>MavrinaEV@med-to.ru</td></tr>
<tr><td>Петрова Марина Владимировна</td><td>Бухгалтер</td><td style="text-align: center">1157</td><td></td><td>PetrovaMV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Отдел информационных технологий (TEL)</th> <th></th>603</th><th style="text-align: center">273031</th><th></th></tr>
<tr><td>Баранов Геннадий Андреевич</td><td>Техник-программист</td><td style="text-align: center">7097</td><td></td><td>BaranovGA@med-to.ru</td></tr>
<tr><td>Дмитриченко Александр Викторович</td><td>Администратор вычислительной сети</td><td style="text-align: center">1122</td><td></td><td>DmitrichenkoAV@med-to.ru</td></tr>
<tr><td>Дульцева Екатерина Павловна</td><td>Техник-программист</td><td style="text-align: center">7096</td><td></td><td>DulcevaEP@med-to.ru</td></tr>
<tr><td>Иванов Владимир Валерьевич</td><td>Техник-программист</td><td style="text-align: center">1133</td><td></td><td>IvanovVV@med-to.ru</td></tr>
<tr><td>Кабиров Денис Нурбаисович</td><td>Техник-программист</td><td style="text-align: center">7091</td><td></td><td>KabirovDN@med-to.ru</td></tr>
<tr><td>Кузнецов Анатолий Александрович</td><td>Заведующий отделом</td><td style="text-align: center">1111</td><td></td><td>KuznecovAA@med-to.ru</td></tr>
<tr><td>Куприенко Сергей</td><td>Техник-программист</td><td style="text-align: center">7094</td><td></td><td>KuprienkoSN@med-to.ru</td></tr>
<tr><td>Лукьянова Вероника Владимировна</td><td>Оператор</td><td style="text-align: center">1188</td><td></td><td>LukyanovaVV@med-to.ru</td></tr>
<tr><td>Мельников Александр Викторович</td><td>Ведущий специалист по технической поддержке</td><td style="text-align: center">1199</td><td></td><td>MelnikovAV@med-to.ru</td></tr>
<tr><td>Мельников Андрей Вадимович</td><td>Техник-программист</td><td style="text-align: center">1144</td><td></td><td>MelnikovAV@med-to.ru</td></tr>
<tr><td>Суслова Оксана Анатольевна</td><td>Специалист по защите информации в автоматизированных системах</td><td style="text-align: center">1166</td><td></td><td>SuslovaOA@med-to.ru</td></tr>
<tr><td>Сухоруков Александр Викторович</td><td>Администратор вычислительной сети</td><td style="text-align: center">7092</td><td></td><td>SuhorukovAV@med-to.ru</td></tr>
<tr><td>Терлеев Алексей Николаевич</td><td>Техник-программист</td><td style="text-align: center">7095</td><td></td><td>TerleevAN@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Отделение анестезиологии-реанимации (TEL)</th> <th></th></th><th style="text-align: center">252980</th><th></th></tr>
<tr><td>Ординаторская отделения анестезиологии-реанимации</td><td>Служебный</td><td style="text-align: center">1204</td><td></td><td></td></tr>
<tr><td>Пост отделения анестезиологии-реанимации</td><td>Служебный</td><td style="text-align: center">1207</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение анестезиологии-реанимации ПЦ (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Мухарряпова Галия Фидусовна</td><td>Старшая медицинская сестра</td><td style="text-align: center">1512</td><td></td><td>MukharryapovaGF@med-to.ru</td></tr>
<tr><td>Ординаторская отделения анестезиологии-реанимации ПЦ</td><td>Служебный</td><td style="text-align: center">1510</td><td></td><td></td></tr>
<tr><td>Пост взрослого отделения анестезиологии-реанимации ПЦ</td><td>Служебный</td><td style="text-align: center">1513</td><td></td><td></td></tr>
<tr><td>Пост детского отделения анестезиологии-реанимации ПЦ</td><td>Служебный</td><td style="text-align: center">1514</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение гнойной хирургии (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская отделения гнойной хирургии</td><td>Служебный</td><td style="text-align: center">1201</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение доврачебной помощи (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>212 кабинет</td><td>Служебный</td><td style="text-align: center">7212</td><td></td><td></td></tr>
<tr><td>213 кабинет</td><td>Служебный</td><td style="text-align: center">7213</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение медицинской профилактики (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>251 кабинет</td><td>Служебный</td><td style="text-align: center">7251</td><td></td><td></td></tr>
<tr><td>252 кабинет</td><td>Служебный</td><td style="text-align: center">7252</td><td></td><td></td></tr>
<tr><td>253 кабинет</td><td>Служебный</td><td style="text-align: center">7253</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение неотложной медицинской помощи (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>207 кабинет</td><td>Служебный</td><td style="text-align: center">7207</td><td></td><td></td></tr>
<tr><td>207 кабинет 2</td><td>Служебный</td><td style="text-align: center">7267</td><td></td><td></td></tr>
<tr><td>207 кабинет 3</td><td>Служебный</td><td style="text-align: center">7277</td><td></td><td></td></tr>
<tr><td>208 кабинет</td><td>Служебный</td><td style="text-align: center">7208</td><td></td><td></td></tr>
<tr><td>209 кабинет</td><td>Служебный</td><td style="text-align: center">7209</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Отделение новорожденных (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская отделения новорожденных</td><td>Служебный</td><td style="text-align: center">1530</td><td></td><td></td></tr>
<tr><td>Пост отделения новорожденных</td><td>Служебный</td><td style="text-align: center">1543</td><td></td><td></td></tr>
<tr><td>Приемник отделения новорожденных</td><td>Служебный</td><td style="text-align: center">1531</td><td></td><td></td></tr>
<tr><td>Тунгусова Елена Александровна</td><td>Заведующий отделением</td><td style="text-align: center">1541</td><td></td><td>TungusovaEA@med-to.ru</td></tr>
<tr><td>Черкашина Лариса Александровна</td><td>Старшая медицинская сестра</td><td style="text-align: center">1532</td><td></td><td>CherkashinaLA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Офтальмологическое отделение (TEL)</th> <th></th></th><th style="text-align: center">257469</th><th></th></tr>
<tr><td>Ординаторская офтальмологического отделения</td><td>Служебный</td><td style="text-align: center">1240</td><td></td><td></td></tr>
<tr><td>Пост офтальмологического отделения</td><td>Служебный</td><td style="text-align: center">1241</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Патологоанатомическое отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Приемник патологоанатомического отделения</td><td>Служебный</td><td style="text-align: center">1210</td><td></td><td></td></tr>
<tr><td>Селиверстов Егор Александрович</td><td>Врач</td><td style="text-align: center">1211</td><td></td><td>SeliverstovEA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Педиатрическое отделение (TEL)</th> <th></th></th><th style="text-align: center">257466</th><th></th></tr>
<tr><td>Ординаторская педиатрического отделение</td><td>Служебный</td><td style="text-align: center">1225</td><td></td><td></td></tr>
<tr><td>Пост педиатрического отделения</td><td>Служебный</td><td style="text-align: center">1230</td><td></td><td></td></tr>
<tr><td>Приемник педиатрического отделения</td><td>Служебный</td><td style="text-align: center">1223</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Педиатрическое отделение №1  (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>322 кабинет</td><td>Служебный</td><td style="text-align: center">7322</td><td></td><td></td></tr>
<tr><td>333 кабинет</td><td>Служебный</td><td style="text-align: center">7333</td><td></td><td></td></tr>
<tr><td>334 кабинет</td><td>Служебный</td><td style="text-align: center">7334</td><td></td><td></td></tr>
<tr><td>Кугаевская Ольга Игоревна</td><td>Заведующий отделением</td><td style="text-align: center">2027</td><td></td><td>KugaevskayaOI@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Первичное сосудистое отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ангиографический кабинет</td><td>Служебный</td><td style="text-align: center">1216</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Первичной специализированной медико-санитарной помощи (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>109 кабинет</td><td>Служебный</td><td style="text-align: center">7109</td><td></td><td></td></tr>
<tr><td>110 кабинет</td><td>Служебный</td><td style="text-align: center">7110</td><td></td><td></td></tr>
<tr><td>111 кабинет</td><td>Служебный</td><td style="text-align: center">7111</td><td></td><td></td></tr>
<tr><td>201 кабинет</td><td>Служебный</td><td style="text-align: center">2201</td><td></td><td></td></tr>
<tr><td>203 кабинет</td><td>Служебный</td><td style="text-align: center">7203</td><td></td><td></td></tr>
<tr><td>205 кабинет</td><td>Служебный</td><td style="text-align: center">7205</td><td></td><td></td></tr>
<tr><td>206 кабинет</td><td>Служебный</td><td style="text-align: center">7206</td><td></td><td></td></tr>
<tr><td>305 кабинет</td><td>Служебный</td><td style="text-align: center">7305</td><td></td><td></td></tr>
<tr><td>347 кабинет</td><td>Служебный</td><td style="text-align: center">7347</td><td></td><td></td></tr>
<tr><td>348 кабинет</td><td>Служебный</td><td style="text-align: center">7348</td><td></td><td></td></tr>
<tr><td>350 кабинет</td><td>Служебный</td><td style="text-align: center">7350</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Планово-экономический сектор</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Злыгостева Ольга Алексеевна</td><td>Заведующий отделом</td><td style="text-align: center">1104</td><td></td><td>ZlygostevaOA@med-to.ru</td></tr>
<tr><td>Новопашина Анна Андреевна</td><td>Заведующий отделом</td><td style="text-align: center">1124</td><td></td><td>NovopashinaAA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Поликлиника для взрослого населения (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><th colspan="2" style="text-align: center">Приемное отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Терапевтический приемник</td><td>Служебный</td><td style="text-align: center">1220</td><td></td><td></td></tr>
<tr><td>Травматологический приемник</td><td>Служебный</td><td style="text-align: center">1222</td><td></td><td></td></tr>
<tr><td>Хирургический приемник</td><td>Служебный</td><td style="text-align: center">1221</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Профилактическое отделение детской поликлиники (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>318 кабинет</td><td>Служебный</td><td style="text-align: center">7318</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Регистратура (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Регистратура</td><td>Служебный</td><td style="text-align: center">2010</td><td></td><td></td></tr>
<tr><td>Томилова Екатерина Юрьевна</td><td>Медицинская сестра</td><td style="text-align: center">2020</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Родильное отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская родильного отделения</td><td>Служебный</td><td style="text-align: center">1520</td><td></td><td></td></tr>
<tr><td>Пост 2 родильного отделения</td><td>Служебный</td><td style="text-align: center">1526</td><td></td><td></td></tr>
<tr><td>Пост 2го акушерского отделения</td><td>Служебный</td><td style="text-align: center">1534</td><td></td><td></td></tr>
<tr><td>Пост временного пребывания новорожденных</td><td>Служебный</td><td style="text-align: center">1533</td><td></td><td></td></tr>
<tr><td>Пост детского ДФО</td><td>Служебный</td><td style="text-align: center">1523</td><td></td><td></td></tr>
<tr><td>Пост родильного отделения</td><td>Служебный</td><td style="text-align: center">1524</td><td></td><td></td></tr>
<tr><td>Приемник родильного отделения</td><td>Служебный</td><td style="text-align: center">1525</td><td></td><td></td></tr>
<tr><td>Тайлакова Надежда Ивановна</td><td>Заведующий отделением</td><td style="text-align: center">1521</td><td></td><td>TaylakovaNI@med-to.ru</td></tr>
<tr><td>Шафиева Марина Венядиевна</td><td>Старшая акушерка</td><td style="text-align: center">1522</td><td></td><td>ShafievaMV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор документационного обеспечения</th> <th></th></th><th style="text-align: center">252489</th><th></th></tr>
<tr><td>Елтышева Ксения Сергеевна</td><td>Секретарь руководителя</td><td style="text-align: center">1115</td><td></td><td></td></tr>
<tr><td>Шишкина Юлия Владимировна</td><td>Делопроизводитель</td><td style="text-align: center">1116</td><td></td><td>ShishkinaYV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор кадровой работы</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Балина Светлана Анатольевна</td><td>Заведующий отделом</td><td style="text-align: center">1141</td><td></td><td>BalinaSA@med-to.ru</td></tr>
<tr><td>Полетаев Анатолий Владимирович</td><td>Заведующий отделом</td><td style="text-align: center">7416</td><td></td><td>PoletaevAV@med-to.ru</td></tr>
<tr><td>Синицын Антон Юрьевич</td><td>Заведующий отделом</td><td style="text-align: center">1120</td><td></td><td>SinicynAYu@med-to.ru</td></tr>
<tr><td>Чугунова Светлана Юрьевна</td><td>Заведующий отделом</td><td style="text-align: center">1108</td><td></td><td>ChugunovaSY@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор кадровой работы (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Балина Светлана Анатольевна</td><td>Заведующий отделом</td><td style="text-align: center">1141</td><td></td><td>BalinaSA@med-to.ru</td></tr>
<tr><td>Чугунова Светлана Юрьевна</td><td>Заведующий отделом</td><td style="text-align: center">1108</td><td></td><td>ChugunovaSY@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор маркетинга и организации платных услуг (TEL)</th> <th></th></th><th style="text-align: center">245066</th><th></th></tr>
<tr><th colspan="2" style="text-align: center">Сектор медицинской статистики и страховой медицины</th> <th></th></th><th style="text-align: center">277763</th><th></th></tr>
<tr><td>Аванесова Наталья Павловна</td><td>Медицинский статистик</td><td style="text-align: center">1209</td><td></td><td></td></tr>
<tr><td>Аккуратова Наталья Владимировна</td><td>Заместитель главного врача</td><td style="text-align: center">1134</td><td></td><td>AkkuratovaNV@med-to.ru</td></tr>
<tr><td>Слинько Елена Анатольевна</td><td>Заведующий отделом</td><td style="text-align: center">1208</td><td></td><td>SlinkoEA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор по контролю качества медицинской помощи и обращений (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>215 кабинет поликлиника выписка БЛ 1</td><td>Служебный</td><td style="text-align: center">2025</td><td></td><td></td></tr>
<tr><td>215 кабинет поликлиника выписка БЛ 2</td><td>Служебный</td><td style="text-align: center">2028</td><td></td><td></td></tr>
<tr><td>Больничные листы</td><td>Служебный</td><td style="text-align: center">1203</td><td></td><td></td></tr>
<tr><td>Горбунова Марина Александровна</td><td>Врач</td><td style="text-align: center">2034</td><td></td><td></td></tr>
<tr><td>Чиркова Фарида Хабибрахмановна</td><td>Заведующий отделением</td><td style="text-align: center">1103</td><td></td><td>ChirkovaFKh@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор по охране труда (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Зимина Алена Николаевна</td><td>Старший специалист по охране труда</td><td style="text-align: center">2700</td><td></td><td>ZiminaAN@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Сектор по развитию и обучению персонала (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><th colspan="2" style="text-align: center">Служба по организации медицинского обслуживания района (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Дюсова Алена Александровна</td><td>Заведующий ФАП</td><td style="text-align: center">2055</td><td></td><td>DusovaAA@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Станция скорой медицинской помощи (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Васильков Сергей Владимирович</td><td>Старший фельдшер</td><td style="text-align: center">7862</td><td></td><td></td></tr>
<tr><td>Диспетчерская станции скорой медицинской помощи</td><td>Служебный</td><td style="text-align: center">7860</td><td></td><td></td></tr>
<tr><td>Хилобок Ольга Васильевна</td><td>Старший фельдшер</td><td style="text-align: center">7863</td><td></td><td>KhilobokOV@med-to.ru</td></tr>
<tr><td>Шипунов Александр Викторович</td><td>Заведующий отделением</td><td style="text-align: center">3012</td><td></td><td>ShipunovAV@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Стационар (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><th colspan="2" style="text-align: center">Терапевтическое отделение (TEL)</th> <th></th></th><th style="text-align: center">243992</th><th></th></tr>
<tr><td>Ординаторская терапевтического отделения</td><td>Служебный</td><td style="text-align: center">1214</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Терапевтическое отделение №3 (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>17 кабинет 7а</td><td>Служебный</td><td style="text-align: center">7017</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Терапевтическое отделение №5 (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>247 кабинет</td><td>Служебный</td><td style="text-align: center">7247</td><td></td><td></td></tr>
<tr><td>Мишкарёва Ксения Юрьевна</td><td>Врач</td><td style="text-align: center">7248</td><td></td><td>MishkaryovaKY@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Травматологическое отделение (TEL)</th> <th></th></th><th style="text-align: center">251735</th><th></th></tr>
<tr><td>Ординаторская травматологического отделения</td><td>Служебный</td><td style="text-align: center">1206</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Травматологическое отделение №2 (TEL)</th> <th></th></th><th style="text-align: center">242582</th><th></th></tr>
<tr><td>Регистратура травматологического отделения</td><td>Служебный</td><td style="text-align: center">1229</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Урологическое отделение (TEL)</th> <th></th></th><th style="text-align: center">262784</th><th></th></tr>
<tr><td>Ординаторская урологического отделения</td><td>Служебный</td><td style="text-align: center">1202</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Хирургическое отделение (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ординаторская хирургического отделение</td><td>Служебный</td><td style="text-align: center">1205</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Хозяйственный отдел (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Мелешкин Михаил Владимирович</td><td>Заведующий отделом</td><td style="text-align: center">1123</td><td></td><td>MeleshkinMV@med-to.ru</td></tr>
<tr><td>Соколов Алексей Михайлович</td><td>Заведующий отделом</td><td style="text-align: center">1146</td><td></td><td>SokolovAM@med-to.ru</td></tr>
<tr><th colspan="2" style="text-align: center">Центр амбулаторной онкологической помощи (TEL)</th> <th></th></th><th style="text-align: center">277774</th><th></th></tr>
<tr><td>8 кабинет центра амбулаторной онкологической помощи</td><td>Служебный</td><td style="text-align: center">1183</td><td></td><td></td></tr>
<tr><td>Администратор центра амбулаторной онкологической помощи</td><td>Служебный</td><td style="text-align: center">1181</td><td></td><td></td></tr>
<tr><td>ОНКО Пост</td><td>Служебный</td><td style="text-align: center">1182</td><td></td><td></td></tr>
<tr><th colspan="2" style="text-align: center">Юридический сектор (TEL)</th> <th></th></th><th style="text-align: center"></th><th></th></tr>
<tr><td>Ибрагимова Элиза Анзаровна</td><td>Заведующий отделом</td><td style="text-align: center">1117</td><td></td><td>IbragimovaEA@med-to.ru</td></tr>
<tr><td>Полетаев Анатолий Владимирович</td><td>Заведующий отделом</td><td style="text-align: center">7416</td><td></td><td>PoletaevAV@med-to.ru</td></tr>
</tbody></table>
{% endblock %}
