{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
	<h1>Локальные нормативные акты по защите персональных данных в ГБУЗ ТО "Областная больница №3" (г. Тобольск)</h1>
	
<p><strong></strong></p>
  <ol class=" container pt-6 my-md-3 pt-md-3 border-top">
    <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/Приказ №0431-од от 07.04.22.pdf">Приказ №0431-од от 07.04.22. Об организации работ по обработки и обеспечению безопасности персональных данных при их обработке, в том числе в информационных системах персональных данных ОБ №3</a></li>
    <!--<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/2. 389-од от 04.05.2021 О постоянно действующей комиссии.pdf">Приказ 389-од от 04.05.2021 О создании постоянно действующей комиссии по организации обработки и защиты персональных данных в ГБУЗ ТО «Областная больница №3» (г.Тобольск)</a></li>-->
    <!--<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/3. !390-од от 04.05.2021 О перечне ЛНА">Приказ 390-од от 04.05.2021 Об утверждение перечня локальных нормативных актов по обработке и защите персональных данных в ГБУЗ ТО «Областная больница №3» (г.Тобольск)</a></li>-->
     <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/4. !391-од от 04.05.2021 О политике оператора.pdf">Приказ 391-од от 04.05.2021 Об утверждение политики оператора в отношении обработки персональных данных в ГБУЗ ТО «Областная больница №3» (г.Тобольск)</a></li>
     <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/5. 438-од от 24.05.2021.pdf">Приказ 438-од от 24.05.2021. Об утверждении положения об информационных системах персональных данных, категориях персональных данных обрабатываемых в информационных системах персональных данных и сроках их хранения, подлежащие защите.</a></li>
     <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/6. 439-од от 24.05.21. Об определение уровня защищенности персональных данных в ГБУЗ ТО Областная больница №3 (г. Тобольск).pdf">Приказ 439-од от 24.05.21. Об определение уровня защищенности персональных данных в ГБУЗ ТО Областная больница №3 (г.Тобольск)</a></li>
	 <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/7. !464-од от 31.05.21.pdf">Приказ 464-од от 31.05.2021. Об утверждении положения вводного инструктажа по обработке и защите персональных данных в ГБУЗ ТО Областная больница №3 (г.Тобольск)</a></li>
	<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/Приказ от 10.12.2021 № 12781-од.pdf">Приказ 1278/1-од от 10.12.22 Приказ об утверждение процедуры предоставления допуска к обработке персональных данных, перечня лиц, допущенных  к обработке персональных данных в ГБУЗ ТО «Областная больница №3» (г.Тобольск)</a></li>
	<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/9_Приказ_№579_од_от_15_07_21_Об_утверждении_плана_мероприятий_в.pdf">Приказ №579-од от 15.07.21 Приказ об утверждение плана мероприятий по обеспечению безопасности защищаемой информации, выполнению требований законодательства по защите информации, а также по контролю уровня защищенности и выполнения мер по защите информации в информационных системах персональных данных</li>
	<!--<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/10_Приказ_№580_од_от_15_07_21_Об_организации_группы_реагирования.pdf">Приказ №580-од от 15.07.21 Приказ о назначении группы реагирования на инциденты нарушения безопасности персональных данных в информационных системах персональных данных</li>-->
	 <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/11. 054-од от 31.01.2020 Об определение границ контролиемой зоны.pdf">Приказ 054-од от 31.01.2020 Об определение границ контролируемой зоны</a></li>
	 <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/Приказ №1106-од от 29.08.2022.pdf"> Приказ №1106-од от 29.08.2022 Об утверждении Инструкции по обработке персональных данных без использования средств автоматизации</a></li>
	 <!--<li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/12. 037-1-од от 31.01.2020 Об утверждение мест хранения материальных носителей персональных данных.pdf">Приказ 037-1-од от 31.01.2020 Об утверждение мест хранения материальных носителей персональных данных</a></li>-->
	 <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/13. 057-од от 31.01.2020.pdf">Приказ 057-од от 31.01.2020 Об утверждение журналов и инструкции по их заполнению объектов</a></li>
	 <li class=" my-md-2 pt-md-2 "><a class="" href="/static/doc/Приказ №1104-од от 30.08.2022.pdf">Приказ №1104-од от 30.08.2022 Об утверждении плана обучения по обработке и защите персональных данных</a></li>
   
  </ol>

{% endblock %}